a, a:hover {
    text-decoration:none;
    color: black;
}
.main_container
{
    background-image: url("./assets/images/background.jpg");
}

.center_container {
    float:none;
    margin: 0 auto;
    width: 1350px;
    background-color: white;
}

.top_layout_box .category_link_wrapper
{
    line-height:50px;
    background-color: chocolate;
}

.footer_container {
    padding:0px;
}

.top_horizontal_line
{
    width:10px;
    background-color: chocolate;
}