.news_letter_bar
{
    margin:0;
}
.news_letter_box
{
    position: relative;
    top: 5px;
    min-width: 1350px;
    line-height: 40px;
    background-color: crimson;
    padding-bottom: 10px;
}

.news_letter_box .subscribe_box
{
    padding-top: 5px;
    color: white;
}

.news_letter_box .subscribe_box span 
{
    padding-left: 10px;
}

.terms_and_conditions_box
{
    padding-top: 10px;
}
.terms_and_conditions_box label
{
    font-size: 14px;
    line-height: 14px;
    color: white;
    width: 300px;
}

.terms_and_conditions_box input
{
    vertical-align: top;
}

.news_letter_email_box
{
    padding-top: 10px;
}

.news_letter_email_box input
{
    float: left;
    width: 250px;
}

.news_letter_email_box svg 
{
    float: left;
    display: block;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: red;
}

.news_letter_box .nlb_col_width
{
    width: 380px;
}

.popper
{
    background-color:yellow;
    font-weight: bold;
    color: red;
}