.account_btn_box
{
    border-radius: 50%;
    background:#73ACA5;
    width: 55px;
    height: 55px;
    position:relative;
    left:30px;
}

.account_btn_box ul
{
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
}

.account_btn_box ul span
{
    font-size: 12px;
}

.account_btn_box a
{
    color: black;
}

.account_btn_box .logged_in_username
{
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -6px;
    top: -10px;
    color: white;
    font-weight: bold;
}

.account_btn_box .welcome_username
{
    font-size: 14px;
    color: black;
}