.contact_btn_box
{
    border-radius: 50%;
    background: #73ACA5;
    width: 55px;
    height: 55px;
    position:relative;
    left:10px;
}

.contact_btn_box .contact_link
{
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -13px;
    top: -10px;
    color: white;
    font-weight: bold;
}

.contact_btn_box ul
{
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
}

.contact_btn_box ul span
{
    font-size: 12px;
}

.contact_btn_box a
{
    text-decoration: none;
    color: black;
}

.contact_btn_box a:hover
{
    text-decoration: underline;
}