.search_box_input
{
    padding-top: 10px;
}

.search_box_input input[type=search]
{
    width:600px;
    height:40px;
}

.search_box_btn
{
    cursor: pointer;
    background-color:crimson;
    padding: 9.5px;
}