.book_item
{
    cursor: pointer;
    border: crimson solid 1px;
    max-width: 132px;
    min-height: 350px;
    margin: 15px;
}

.book_item .book_item_details_list
{
    list-style: none;
    padding:0;
}

.book_item img
{
    width: 130px;

}
                   
.book_item .title
{
    font-size: 12px;
    color: chocolate;
}


.book_item .author
{
    font-size: 16px;
}

.book_item .price
{
    padding-top: 10px;
    font-size: 14px;
    color: red;
}

.book_item .currency
{
    padding-top: 10px;
    font-size: 14px;
    color: RED;
}