.login_box
{
    padding-top: 50px;
}
.login_box tr td
{
    padding-bottom: 15px;
}

.login_box button 
{
    width: 300px;
    line-height:2.3em;
    border:0px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.login_box span
{
    padding-bottom: 30px;
}

.login_box input
{
    width: 300px;
    line-height: 2em;
}

.login_box .validation_message
{
    color: red;
}

.login_server_errors
{
    padding-left: 0px;
    list-style:none;
}